{% extends "_auth.html" %}{% block title %}Address not allowed{% endblock %}
{% block auth %}
<h1>Your address may not open the portal</h1>
<p class="lede">Requests from <code>{{ address }}</code> are not on the operator allowlist. To get in, either:</p>
<ol>
  <li>Add the address to <code>PORTAL_ALLOWED_IPS</code> in the deployment's <code>.env</code> and restart the API and worker, or</li>
  <li>Use an SSH tunnel, then open <code>http://localhost:9000/portal</code>:<pre class="cmd">ssh -N -L 9000:127.0.0.1:9000 root@&lt;server&gt;</pre></li>
</ol>
{% endblock %}
